
body {
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(to right, #780202, #061161 ); /*#360033, #0b8793*/
  color: #f2eeee;
  line-height: 1.6;
 font-size:
}

header {
  text-align: center;
  padding: 1rem;
  

  border-bottom: 0.2px solid #d4af37;
}   

header h1 {
  margin: 0;
  font-size: 2.5rem;
  color: #488cc0;
}

header p {
  margin: 0.5rem 0;
  font-size: 1.1rem;
  color: #db9826;
}

header h2 {
  margin: 0.5rem 0;
  font-size: 1.1rem;
  color: #db9826;
}

nav {
  margin-top: 1rem;
}

nav a {
  color: #f0f0f0;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #db9826;
}

.hero {
  text-align: center;
  padding: .3rem 1rem;
  background: linear-gradient(to right, #870000, #190a05 40%);
  border-bottom: 0.2px solid #d4af37;
  
}

.hero h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #db9826;
}

.projects {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.project {
  background: linear-gradient(to right, #780206, #061161 ); /*#3d3c4f*/ /*#360033,#0b8793*/
  border-radius: 10px;
  overflow: hidden;
  color:#9e9a9a;
  transition: transform 0.3s;
  
  
  box-shadow: 0 1px 3px rgba(235, 235, 234, 0.6);
}

.project:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 4px rgba(235, 235, 234, 0.8);
  border-left: .1px solid #f2f0ee;
}

.documents:hover {
  
  color: #db9826;
  font-weight: bold;
}

.project img {
  height: 180px;
  width: 190px;
  margin: 10px;
  float: left;
}

.standaloneIMG img {
  display: block;
                  /*530px*/
  width:50%; /*530px*/
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

#tableIMG img{
  display: block;
                  /*530px*/
  width:50%; /*530px*/
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6); 
}

#tableIMG img:hover {
  cursor: zoom-in;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
}


.project-content {
  padding: 1rem;
}

.project-content h3 {
  margin-top: 0;
  color: #db9826;
}

.tags {
  margin-top: 0.5rem;
}

.tag {
  display: inline-block;
  
  box-shadow: 0 1px 3px rgba(235, 235, 234, 0.6);
  color: #f2eeee;
  border-radius: 4px;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
  font-size: 0.85rem;
}

table, th, td {
  border: 1px solid #ddd;
  width: 80%;
  max-width: 1000px;
  border-collapse: collapse;
  margin: 20px 0;
  padding: 8px;
  table-layout: fixed;
  text-align: left;
  color:#f2eeee
}

table th {
  
  text-align: center;
}

footer {
  text-align: center;
  padding: .1rem;
  background: #020202;
  border-top: 2px solid #d4af37;
  font-size: 0.9rem;
  color: #aaa;
}

a{
  text-decoration: none;
  color: #9e9a9a;

}

.alignwell {
  margin: 10px;
  color: #db9826;
}

.alignwell p {
  font-size: 1.2rem;
  color: #f2eeee;
  margin: 20px;
}